.about_topic {
    text-align: center;
    color: white;
    background: deepskyblue;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Raleway', sans-serif;
}

.about_topic_one {
    color: deepskyblue;
    font-family: 'Raleway', sans-serif;
    text-align: center
}

.about_content {
    color: grey;
    text-align: center
}

.about_content_two {
    color: grey;
    text-align: justify
}
